# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.

HASURA_ENDPOINT=https://<hasura_app>.herokuapp.com/v1/graphql
HASURA_SECRET=1234567890

# Application Port - express server listens on this port (default 3000).
PORT=3000
